<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style_about.css">
    <!--<style type="text/css">
	h.pos_abs
	{
	position:absolute;
	left:100px;
	top:100px;
    }
    </style>-->
</head>
<body background="img/bgImg.png">

<!-- <h1 >The First</h1> -->
<!-- <h2>
	<marquee behavior=alternate direction="right">"Modi Tempora Incidunt Ut Labore Et Dolore Magnam Aliquam Quaerat"</marquee>
</h2> -->
<!-- style="background-color: green" -->
<div class="guide" id="guided"> 
  <div class="logo"><!--logo<img src="../images/leaf.png"/>--></div>
  <div class="nav">
  		<div id="about" onclik="#" >
  			<div id="about_">about</div>
  		</div>
  		<div id="denglu">
  			<div id="denglu_">
          <a href="denglu.html">story</a>
        </div>
  		</div>
  		<div id="shouye">
  			<div id="shouye_">
  				<a href="index.html">index</a>
  			</div>
  		</div>
  </div>
</div>
<div class="about">
	<div class="contain">
		<div class="col-md-4 about-grid">
			<h3>This is</h3>
			<img src="img/p1.png" alt="" class="img-responsive">
			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
		</div>
		<div class="col-md-4 about-grid">
			<h3>That is</h3>
			<img src="img/p2.png" alt="" class="img-responsive">
			<p class="commodo">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
		</div>
		<div class="col-md-4 about-grid">	
			<h3>They are</h3>
			<img src="img/p3.png" alt="" class="img-responsive">
			<p class="sint">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
		</div>
		<div class="clearfix">
			
		</div>
	</div>
</div>
<!--
<div class="banner1"> banner的内容 </div>

<div class="xiaoliebiao"> banner下面列表的部分 </div>

<div class="banner2"> 小banner里面的内容 </div>

<div class="liebiao"> 列表区域 </div>

<div class="footer"> 底部区域的内容 </div>

-->
</body>

</html>
