<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style_denglu.css">
    <!--<style type="text/css">
	h.pos_abs
	{
	position:absolute;
	left:100px;
	top:100px;
    }
    </style>-->
</head>
<body background="img\back.png">

<!-- <h1 >The First</h1>
<!-- <h2> -->
	<!-- <marquee behavior=alternate direction="right">"Modi Tempora Incidunt Ut Labore Et Dolore Magnam Aliquam Quaerat"</marquee> -->
<!-- </h2> --> 



<div class="guide" id="guided"> 
  <div class="logo"><!--logo<img src="../images/leaf.png"/>--></div>
  <div class="nav">
  		<div id="about" onclik="#" >
  			<div id="about_">
  				<a href="about.html">about</a>
  			</div>
  		</div>
  	
  		<div id="denglu">
  			<div id="denglu_">story</div>
  		</div>
  		<div id="shouye">
  			<div id="shouye_">
          <a href="index.html">index</a>
        </div>
  </div>
</div>

<div class="login">
            <p class="loginTittle">login_in</p>
            <span class="loginspan"> ID
            <input type="text" id="userName" value="please_loginin"/>
           
           
            <img class="xbtn" src="" />
            keywords
            <input type="password" id="password" />
            <span></span>
            <br />
            <span></span>
            </span>
            <input type="button" value="login_in" />
        </div>

<!--
<div class="banner1"> banner的内容 </div>

<div class="xiaoliebiao"> banner下面列表的部分 </div>

<div class="banner2"> 小banner里面的内容 </div>

<div class="liebiao"> 列表区域 </div>

<div class="footer"> 底部区域的内容 </div>

-->
</body>

</html>
