<!DOCTYPE html>
{% load static%}
<html>
<head>
  <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "css_clothes/style_index.css" %}">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      #myCarousel{
        position: fixed;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 6%;
        height: 80%;
        width: 80%;
        overflow: hidden;
      }
      /*因为把整个框的大小定死了,所以如果图片太小,框里面会有空白部分出现*/
      .carousel .items: {
        background-size: cover; /*让图片覆盖满整个div*/
        background-position: center,center; /*让图片在div里水平垂直居中*/
        background-repeat: no-repeat;
       
    }
  </style>
    <script src="{%static "js\jquery.js"%}"></script>
  <script>
    $(function(){
      $("#all li").mouseover(function(){//鼠标进入离开事件
        $(this).css("background-color","#ff00ff").siblings().css("background-color","white");
        $(this).css({"background-color":"red","font-size":"9px"}).siblings().hide();
      });
 
      $(window).scroll(function(){//鼠标滚动事件
        var _top=$(window).scrollTop();//获得鼠标滚动的距离
      });
      
      //手动播放图片
      $(".btn ul li").hover(function(){
        
        $(this).addClass("one").siblings().removeClass("one");
        index=$(this).index();
        i=index;
          $(".pic a").eq(index).stop().fadeIn(500).show().siblings().stop().fadeIn(500).hide();  
        });
 
      //自动播放图片
      var i=0;
      var t=setInterval(autoplay,1000);
      function autoplay(){
        i++;
        if(i>5)i=0;   
        $(".btn ul li").eq(i).addClass("one").siblings().removeClass("one");
        $(".pic a").eq(i).stop().fadeIn(500).show().siblings().stop().fadeIn(500).hide(); 
      }
 
        $("#banner").hover(function(){
          clearInterval(t);
        },function(){
          t=setInterval(autoplay,1000);
        });

      //  进行图片跳转
      $("#firstPic").click(function () {
          // location.href="search.html";
          clickSlide1();
      });
      $("#secondPic").click(function () {
          // location.href="search.html";
          clickSlide2();
      });

      $("#thirdPic").click(function () {
          // location.href="search.html";
          clickSlide3();
      });
      });

    function clickSlide1() {
        location.href="search"
        {#location.href="{% url 'search_page' %}"#}
    }
    function clickSlide2() {
        location.href="littleMan"
    }
    function clickSlide3() {
        location.href="startShopping"
    }


  </script>

</head>
<body background="{% static "img/bgImg.png"%}">

<div class="guide" id="guided"> 
  <div class="logo"><!--logo<img src="../images/leaf.png"/>--></div>
  <div class="nav">
  		<div id="about" onclik="#" >
  			<div id="about_">
  				<a href="../shop">shop</a>
  			</div>
  		</div>
  	
  		<div id="denglu">
  			<div id="denglu_">
          <a href="../nearWear">tryWear</a>
        </div>
  		</div>
  		<div id="shouye">
  			<div id="shouye_">home</div>
  		</div>
  </div>
</div>

<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
     <!--  <li data-target="#myCarousel" data-slide-to="3"></li> -->

    </ol>   
    <!-- 轮播（Carousel）项目 一个item就是一张图片,要删减图片的话就把整个item的div标签删除,并且把上面ol标签里对应的li标签也删除-->
    <div class="carousel-inner">
      <div class="item active" >
        <img src="{%static "img\44.png"%}" alt="First slide" id="firstPic" >
      </div>
      <div class="item">
        <img src="{%static "img\22.png"%}" alt="Second slide" id="secondPic">
      </div>
      <div class="item">
        <img src="{%static "img\33.png"%}" alt="Third slide" id="thirdPic">
      </div>

    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> 
  <!--因为引入了bootstrap,所以要先引入jquery作为基础,这里不用修改-->
  <script src="../../static/js/jquery-3.0.0.min.js"></script>
  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


</body>

</html>
