<!DOCTYPE html>
{% load static%}
<html>
<head>
	<meta charset="utf-8">
	<title>shop</title>
	<link href="{% static "css_clothes/startShopping.css" %}" rel="stylesheet">
</head>
<body>
    <div>
         <a href="../shop"><span style="
        width:800px; 
        height:300px; 
        font-family:微软雅黑;
	    font-size:80px;
        color:#FFA488;
        text-shadow:2px 2px 0px #666666;
	    /*行间距*/
        /*line-height:50px; */
        position:absolute; 
        top:250px; left:400px; 
        ">start shopping!</span></a>

    </div>

   <!-- 返回主界面的文本 -->
    <a href="../"><span style="
        width:500px; 
        height:200px; 
        font-family:微软雅黑;
	    font-size:20px;
        position:absolute; 
        top:550px; left:20px; 
        /*margin-left:-24px; */
       /* margin-top:-6px;*/
        "><-back to main page</span></a>
    </div>
</body>
</html>